<ul id="history" class="page_nav">
  <li class="page_tab_name">
    <a href="/<%= @page.basename %>"><%= @page.title.capitalize %></a>
  </li>
  <li class="page_tab_history">
    <a href="/h/<%= @page.basename %>">History</a>
  </li>
  <% if !params[:rev] %>
  <li class="page_tab_edit">
    <a href="/e/<%= @page.basename %>">Edit</a>
  </li>
  <% end %>
  <li class="no_tab">
    edited: 
    <span class="sub_nav details">
      <script type="text/javascript">
        document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
      </script>
   
      <!--
      <%= $repo.current_branch %> branch
      --> 
    </span>
  </li>
</ul>
<% if params[:rev] %>
<div class="info_msg">
  <div class="icon"><img src="/img/information.png" alt="Information" /></div>
  <p>You are currently browsing the history of this page. You can
    <% if @page.previous_commit %>
      <a href="/h/<%= @page.basename %>/<%= @page.previous_commit %>">go back further</a>
    <% else %>
      <span class="link_disabled">go back further</span>
    <% end %>
     or 
    <% if @page.next_commit %>
      <a href="/h/<%= @page.basename %>/<%= @page.next_commit %>">advance in time</a>.
    <% else %>
      <span class="link_disabled">advance in time</span>.
    <% end %>
  </p>
</div>
<% end %>

<% if !params[:rev] %>
<div class="content">
  <ul>
    <% @page.history.each do |c| %>
      <li>
        <script type="text/javascript">
        document.write(time_ago_in_words(<%= c.committer_date.for_time_ago_in_words %>) + ' ago');
        </script>
        &mdash;
        <a href="/h/<%= @page.basename %>/<%= c.sha %>"><%= c.message %></a>
        <% unless @page.history.first == c %>
         &bull; <a href="/d/<%= @page.basename %>/<%= c.sha %>">diff</a>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% else %>
<div class="content"><%= @page.body %></div>
<% end %>